---
http_interactions:
- request:
    method: get
    uri: https://api.pipelinedeals.com/api/v3/deals.json?api_key=G5mZccexXgchNkAYOBlQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"41e050ad004ec8628ab9b7a263ab300c"
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"id":12807196,"name":"Hansen-Willms","summary":null,"user_id":220090,"created_at":"2016/04/11
        13:46:00 -0400","updated_at":"2016/04/11 13:46:00 -0400","is_archived":false,"is_example":null,"source_id":null,"primary_contact_id":null,"deal_stage_id":727384,"probability":50,"status":null,"expected_close_date":null,"closed_time":null,"expected_close_date_event_id":null,"company_id":null,"import_id":null,"value":"82788.88","deal_loss_reason_id":null,"deal_loss_reason_notes":null,"person_ids":[],"shared_user_ids":[],"value_in_cents":8278888,"date_of_first_activity":null,"days_since_last_activity":null,"hours_to_first_activity":null,"days_in_stage":475,"user":{"id":220090,"first_name":"Glengarry","last_name":"Ross"},"deal_stage":{"id":727384,"percent":50,"name":"Presentation"},"people":[],"deal_loss_reason":null,"primary_contact":null,"company":null,"collaborators":[],"custom_fields":{"custom_label_1279429":null,"custom_label_1279432":"41394.0"}},{"id":12807199,"name":"Breitenberg,
        Marks and Corwin","summary":null,"user_id":220090,"created_at":"2016/04/11
        13:46:00 -0400","updated_at":"2016/04/11 13:46:00 -0400","is_archived":false,"is_example":null,"source_id":null,"primary_contact_id":null,"deal_stage_id":727390,"probability":100,"status":null,"expected_close_date":null,"closed_time":"2016/04/11
        13:46:00 -0400","expected_close_date_event_id":null,"company_id":null,"import_id":null,"value":"59096.93","[...]
